<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.actitime.test.VerifyVersionTest"/>
      <class name="com.actitime.test.ValidLoginTest"/>
      <class name="com.actitime.test.InvalidLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
